<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings file="Secrets.config">
		<add key="cfg_FormRefreshPeriodInSeconds" value=".5"/> <!-- How often the Form that displays data will refresh itself. -->
		<add key="cfg_ServiceEndpointBase" value="https://api.twitter.com/2/"/>
		<add key="cfg_ProcessorThreads" value="1"/> <!-- I named it "Processor Thread" but right now it functions as both  "Receive" and "Process" combined, and I'm really not sure if more than 1 Receiver thread works the way the code is reading from Stream, it might but I would need to test and research that. In any case, we could separate these two out and definitely it would then make sense to have more than one Processor thread!-->
		<add key="cfg_MaxGUILogLengthChars" value="5000"/>  <!-- This is stored in memory and reloaded every form refresh, with no current dirty flag so it will always be rewritten. Therefore, should limit to a relatively short number or else performance will be severely impacted. Picking 5000 characters for now.-->
		<add key="IsLogToFile" value="Y"/> <!-- We can stop logging to file using this. Logging to display would still work if file is stopped-->
	</appSettings>
</configuration>